.Navi{
   display: inline block;
   margin: 30px;
   padding: 20px;
}
.header{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
    color: blue;
    letter-spacing: 10px;
}
.header1{
display: block; 
margin: 50px;
padding: 50px;
color: darkorchid;
}

.Table {
    border: 1px solid green; width: 50%; min-height: 200px;
    background-color: rgb(71, 45, 5);
    padding: 2px;
    margin: 2px;
}

.Naglowek{
    background-color: green
    
}
tr{
    background-color: greenyellow
    
}